<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Song</title>
</head>
<body>
    <h1> Edit details for {{song.name}} </h1>
    
    <form action="/edit_song/{{song.name}}" method="post" enctype="multipart/form-data">
        <div>
            <label for="name">Song Title:</label>
            <input type="text" id="name" name="name" value="{{song.name}}" disabled>
        </div>
        <div>
            <label for="genre">Genre:</label>
            <input type="text" id="genre" name="genre" value="{{song.genre}}">
        </div>
        <div>
            <label for="singer">Singer:</label>
            <input type="text" id="singer" name="singer"  value="{{song.singer}}" required>
        </div>
        <div>
            <label for="release_date">Release_date:</label>
            <input type="date" id="release_date" name="release_date" value="{{song.release_date}}">
        </div>
        <div>
            <label for="lyrics">Lyrics:</label><br>
            <textarea name="lyrics" id="lyrics" rows="10" cols="80" required>{{song.lyrics}}</textarea>
        </div>
        <div>
            <input type="submit" value="Submit Changes">
        </div>
    </form>

</body>
</html>