<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <style>
        body {
        font-family: sans-serif;
        margin: 0;
        padding: 20px;
        }

        h1 {
        text-align: center;
        margin-bottom: 20px;
        }

        button {
        background-color: #007bff;
        color: white;
        border: none;
        padding: 10px 15px;
        margin-top: 10px;
        cursor: pointer;
        }
    </style>
</head>
<body>
    <h1> Welcome to Muze !! </h1>
    <button onclick="location.href = '/login';" id="login"> Log In </button>
    <button onclick="location.href = '/register';" id="register"> Register </button>
</body>
</html>