<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>
<body>
    <form action="/register" method="post">
        <div>
            <label for="user">Username:</label>
            <input type="text" id="user" name="user">
        </div>
        <div>
            <label for="pass">Password:</label>
            <input type="password" id="pass" name="pass">
        </div>
        <div>
            <input type="submit" value="Sign up">
        </div>
    </form>
</body>
</html>