<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {{user.name}} </title>

    <style>
        body {
        font-family: sans-serif;
        margin: 0;
        padding: 20px;
        }

        h1, h2 {
        text-align: center;
        margin-bottom: 20px;
        }

        table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        }

        th {
        text-align: center;
        padding: 5px;
        }

        td {
        padding: 5px;
        }

        .table_div {
            width : 50%;
            margin : auto;
            text-align: center;
        }
        
        .table_div {
        width: 80%;
        margin: 0 auto;
        text-align: center;
        margin-bottom: 20px;
        }

        button {
        background-color: #007bff;
        color: white;
        border: none;
        padding: 5px 10px;
        margin: 5px;
        cursor: pointer;
        }

        audio {
        width: 100%;
        }
    </style>
</head>
<body>
    <header>
        <h1> Welcome {{user.name}} </h1>
        {% if user.creator == 0 %}
        <button onclick="location.href = '/make_creator/{{user.name}}';" id="make_creator"> Register as Creator </button>
        {% else %}
        <span >
            Creator registered !
        </span>
        {% endif %}
        <button onclick="location.href = '/add_song';" id="add_song"> Add Song </button>
        <button onclick="location.href = '/add_album';" id="add_album"> Add Album </button>
        <button onclick="location.href = '/add_playlist';" id="add_playlist"> Add Playlist </button>
        <button onclick="location.href = '/logout';" id="logout"> Log Out </button>
    </header>

    <div class="table_div">
        <h2> All Songs </h2>
        <table style="width:100%;">
            <tr>
                <th> Song Name</th>
                <th> Singer </th>
                <th> Rating </th>
                <th> Options </th>
            </tr>

            {% for song in songs %}
            <tr>
                <td> {{song.name}} </td>
                <td> {{song.singer}} </td>
                <td> {{song.rating}} </td>
                <td> 
                    <audio controls>
                        <source src="{{url_for('play_song', filename=song.path[ song.path.rindex('/'): ])}}" type="audio/mpeg">
                        Browser is not compatible with audio tag.
                    </audio>
                    <br>
                    <button onclick="location.href = '/view_song/{{song.name}}';"> View </button>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <div class="table_div">
        <h2> Your Songs </h2>
        <table style="width:100%;">
            <tr>
                <th> Song Name</th>
                <th> Singer </th>
                <th> Rating </th>
                <th> Options </th>
            </tr>

            {% for song in user_songs %}
            <tr>
                <td> {{song.name}} </td>
                <td> {{song.singer}} </td>
                <td> {{song.rating}} </td>
                <td> 
                    <audio controls>
                        <source src="{{url_for('play_song', filename=song.path[ song.path.rindex('/'): ])}}" type="audio/mpeg">
                        Browser is not compatible with audio tag.
                    </audio>
                    <br>
                    <br> <button onclick="location.href = '/edit_song/{{song.name}}';"> Edit </button>
                    <br> <button onclick="location.href = '/delete_song/{{song.name}}';"> Delete </button>

                </td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <!-- ---------------------------------------------------------------- -->

    <div class="table_div">
        <h2> All Albums </h2>
        <table style="width:100%;">
            <tr>
                <th> Album Name</th>
                <th> Singer </th>
                <th> Options </th>
            </tr>

            {% for album in albums %}
            <tr>
                <td> {{album.name}} </td>
                <td> {{album.singer}} </td>
                <td> 
                    <button onclick="location.href = '/view_album/{{album.name}}';"> View Album</button>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <div class="table_div">
        <h2> Your Albums </h2>
        <table style="width:100%;">
            <tr>
                <th> Album Name</th>
                <th> Singer </th>
                <th> Options </th>
            </tr>

            {% for album in user_albums %}
            <tr>
                <td> {{album.name}} </td>
                <td> {{album.singer}} </td>
                <td> 
                    <button onclick="location.href = '/view_album/{{album.name}}';"> View Album</button>
                    <br> <button onclick="location.href = '/edit_album/{{album.name}}';"> Edit Album Details </button>
                    <br> <button onclick="location.href = '/delete_album/{{album.name}}';"> Delete Album </button>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <!-- ---------------------------------------------------------------- -->
    <div class="table_div">
        <h2> Your Playlists </h2>
        <table style="width:100%;">
            <tr>
                <th> Playlist Name</th>
                <th> Options </th>
            </tr>

            {% for playlist in playlists %}
            <tr>
                <td> {{playlist.name}} </td>
                <td> 
                    <button> View Playlist</button>
                    <!-- <button onclick="location.href = '/view_playlist/{{album.name}}';"> View Playlist</button> -->
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>

</body>
</html>